* {
  padding: 0;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(207, 205, 205);
}

.container {
  background: #fff;
  max-width: 1064px;
  margin: 0 auto;





}

.titleGeneral h1 {

  padding-left: 25px;
  color: orangered;
}

/*criando o header*/
header {
  background: color green;
  /*altura*/
  height: 130px;
  border-bottom: 3px solid rgb(31, 28, 28);
  /*flexbox*/
  display: flex;
  align-items: center;


}

/*espacamen da imagem*/
header img {
  margin-left: 15px;
  margin-right: 15px;
}

head h2 {
  color: aqua;
  text-transform: uppercase;
  font-size: 35px;

}

/*MENU DO SITE*/
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(215, 214, 217);
  list-style: none;
}

.menu li {
  border: 1px solid rgb(202, 134, 134);

  /*Espaçamento*/
  padding: 18px 30px 15px;
  /*Largura*/
  max-width: 150px;
  width: 100%;
}

.menu li a {
  font-size: 23;
  text-decoration: none;
  color: black;
  text-align: center;

  padding: 18px;
}

.menu li a :hover {
  text-decoration: underline;
}

/*BANNER*/
.banner {

  max-width: 1000px;
  height: 250px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;

}

/*Content HOME*/
.content-box {
  margin: 3px;

  /*flexbox*/
  display: flex;
}


.box {
  border: 1px solid rgb(12, 12, 12);
  max-width: 300px;
  /*CORTAR imagem*/
  overflow: hidden;
  margin: 10px 35px 20px 15px;
  /*sombra*/
  box-shadow: 2px 3px 3px rgb(100, 100, 100);
  border-radius: 20px;
}

.box img {
  border-bottom: 1px solid color black
}

.box p {

  padding: 10px 10px 10px 10px;

  color: rgb(44, 25, 25);
}

.box a {
  padding: 0 0 10px 10px;
  display: block;
  color: rgb(164, 5, 238);
  text-decoration: none;
  /*Negrito*/
}

.promocao {
  /*flexbox*/
  display: flex;
  justify-content: center;
}

.promocao img {
  max-width: 800px;
  padding-left: 10px;
  height: 180px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
}

/*Novidades*/
.novidades {
  background-color: rgb(212, 211, 210);
  margin-top: 20px;
  /* Flexbox */
  display: flex;
}

.novidades span {
  font-size: 150px;
}

.novidades article {

  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.novidades form {
  width: 100%;


}



.novidades form input {
  max-width: 600px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(122, 117, 109);

}

.novidades form button {

  border: 1px solid blue;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  color: blue;
  font-weight: bold;
}

footer {
  background: black;
  height: 40px;
  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #fff
}

/* Pagina sobre */
.spaceSobre,
.spaceContato {
  margin: 20px 0 20px 0;
}

.containerLista {
  margin-left: 30px;
  margin-bottom: 30px;
}

.containerLista details {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.containerLista article {
  margin-top: 8px;
  color: rgb(10, 10, 11);

}

/*Pagina contato */
.text-contato {
  margin: 0 0 20px 20px;
  font-size: 42px;
}

.text-contato strong {
  color: rgb(42, 42, 170);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
  margin: 20px;
  border: 1px solid red;

}

.form-group {
  margin-bottom: 20px;

}
.form-group select{
height: 30px;
width: 100%;
max-width:300px;
border-radius:8px;

}




.form-group label {
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;


}

.form-group input {
  width: 100%;
  max-width: 600px;
  height: 30px;
  border: 1px solid #bcbaba;
  outline: none;
  padding-left: 5px;
  border-radius: 7px;
}
.form-group-sexo label {
  display: inline-block;
  margin-top:10px;

}

legend{
  padding: 10px;
  display: inline-block;
  font-size: 18px;


}

.form-group-info {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;


}
.form-control-padrao {
  width: 100%;
  max-width: 50px;
  height: 30px;
  border: 1px solid #bcbaba;
  outline: none;
  padding-left: 5px;
  border-radius: 7px;
}